.achievement-square-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 15px;
    justify-content: space-around;

}

/* .achievement-square-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    margin-top: 15px;
} */


.achievement-square {
    background-color: #5c5552ff;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 15px;
    min-width: 150px;
    max-width: 250px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .achievement-square > * {
    position: relative;
    z-index: 2;
} */

.achievement-square:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* shimmer hover */
.shimmer {
    position: relative;
    overflow: hidden;
    z-index: 5;
}

.shimmer::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.4) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    transform: skewX(-25deg);
    transition: none;
    z-index: 5;
    pointer-events: none;
}

.shimmer:hover::before {
    animation: shimmer-slide 1.5s ease-out;
}

@keyframes shimmer-slide {
    from {
        left: -150%;
    }
    to {
        left: 150%;
    }
}


.square-title {
    font-style: bold;
    color: #d1daff;
}

/* placing vary with gold, silver, bronze colours :)*/
.gold {
    color: #EFBF04;
}

.silver {
    color: #D8D8D8;
}

.bronze {
    color: #cd7f32;
}

.filters {
    margin-bottom: 20px;
}

.filter label {
    margin-right: 8px;
    font-weight: bold;
}

.filters select {
    margin-right: 16p;
    padding: 4px 9px;
    border-radius: 5px;
}