/* card swipe?? */
.card-swipe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 670px;
  height: 600px;
}

.centre-grp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.6s ease;
  pointer-events: auto;
}

.closing {
  position: absolute;
  bottom: 20px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  color: #f7f0f5ff;
}

.card-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
  max-width: 90vw;
  max-height: 80vh;
}

.card {
  max-width: 90vw;
  max-height: 80vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  user-select: none;
  transition: transform 0.3s, opacity 0.3s ease;
  border-radius: 10px;
  box-shadow: 4px 12px rgba(0,0,0,0.15);
  z-index: 10;
}

.card:not(:last-child) {
  top: 5px;
}

#reset-button {
  all: unset;
  cursor: pointer;
  transition: 0.2s;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 999;
}

#reset-img {
  width: 30px;
  height: 30px;
  z-index: 999;
}

/* lets kill caption for now... */
/* .card-caption {
  padding: 10px 15px;
  font-size: 16px;
  color: #c2c2c2;
  text-align: center;
  width: 100%;
  background: rgba(255,255,255,0.85);
  box-sizing: border-box;
} */ 