/* card swipe?? */
.card-swipe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
  overflow: hidden;
}

.card-container {
  position: relative;
  width: 300px;
  height: 400px;
}
.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: rgba(0, 0, 0, 0.3);
  user-select: none;
  font-size: 130px;
  transition: transform 0.3s, opacity 0.3s ease;
}
.card:not(:last-child) {
  top: 5px;
}
