body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
  background-color: #decbb7ff;
  text-align: center;
}

/* Colour pallete:
--lavender-mist: #f7f0f5ff;
--pale-oak: #decbb7ff;
--grey-olive: #8f857dff;
--stone-brown: #5c5552ff;
--deep-mocha: #433633ff; */

/* header?! */
#header {
    margin-top: 70px;
}


/* NAVBAR iihfiejf */
.navbar-container *,
::before,
.navbar-container *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-container {
  width: 100vw;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
  width: 750px;
  border-radius: 10px;
  background: #5c5552ff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 20px -5px;
}

.nav-list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item {
  position: relative;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin: 0 10px;
  padding: 10px;
  border: 2px solid #f7f0f5ff;
  overflow: hidden;
}

.item a {
  font-size: 16px;
  text-transform: lowercase;
  color: #f7f0f5ff;
  z-index: 10;
  text-decoration: none;
  transition: color 200ms ease;
}

.item:hover a {
  color: #433633ff;
}

.item:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  transform: skew(30deg);
  background: #f7f0f5ff;
  transition: width 400ms ease;
}

.item:hover:before {
  width: 120%;
}

.item:nth-child(2):before {
  width: 180px;
  height: 0%;
  bottom: 0px;
  transition: height 400ms ease;
}

.item:nth-child(2):hover:before {
  height: 100%;
}

.item:nth-child(3):before { 
    /* center extend outwards */
  transform: skew(0deg);
}

.item:nth-child(4):before {
  width: 180px;
  height: 0%;
  top: 0px;
  transition: height 400ms ease;
}

.item:nth-child(4):hover:before {
  height: 100%;
}


.item:nth-child(5):before {
  transform: skew(-20deg);
}

/* whoami section */
#whoami {
    height: 150px;
    width: 600px;
    background-color: #8f857dff;
}



/* card swipe?? */
.card-swipe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
  overflow: hidden;
}

.card-container {
  position: relative;
  width: 300px;
  height: 400px;
}
.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: rgba(0, 0, 0, 0.3);
  user-select: none;
  font-size: 130px;
  transition: transform 0.3s, opacity 0.3s ease;
}
.card:not(:last-child) {
  top: 5px;
}
