.disc-wrapper {
    position: fixed;
    margin-bottom: 20px;
    margin-right: 40px; 
    width: 180px;
    height: 180px;
    pointer-events: none;
    z-index: 10;
}

.disc {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transform: translate(0,0);
    z-index: 10;
}

.disc-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: auto;
    cursor: pointer;
    animation: spin 3s linear infinite;
    z-index: 10;
}

/* .disc:first-child {
    opacity: 1;
} */

.hidden {
    visibility: hidden;
}

.curve-out {
    animation: curveOut 0.7s forwards ease-in;
}

.curve-in {
    animation: curveIn 0.7s forwards ease-out;
}

@keyframes curveOut {
    0% { transform: translate(0,0); opacity: 1; }
    50% { transform: translate(50px, 40px); opacity: 0.6; }
    100% { transform: translate(80px,120px); opacity: 0; }
}

@keyframes curveIn {
    0% { transform: translate(-80px, -120px); opacity: 0; }
    50% { transform: translate(-40px, -40px); opacity: 0.7; }
    100% { transform: translate(0,0); opacity: 1; }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}