/* NAVBAR iihfiejf */
.navbar-container *,
.navbar-container *::before,
.navbar-container *::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  max-width: 800px;
  /* margin-left: 50px;
  margin-right: 50px; */
  border-radius: 10px;
  background: #5c5552ff;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 20px -5px; */
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 15px;
}

.item {
  position: relative;
  min-width: 125px;
  width: auto;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  /* cursor: url('photos/Open-rose-cursor.png'), default; */
  margin: 10px;
  border: 2px solid #f7f0f5ff;
  overflow: hidden;
}

.item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-transform: lowercase;
  color: #f7f0f5ff;
  z-index: 10;
  text-decoration: none;
}

.item:hover a {
  color: #433633ff;
}

.item:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  transform: skew(30deg);
  background: #f7f0f5ff;
  transition: width 400ms ease;
}
/* whoami */
.item:hover:before {
  width: 120%;
}
/* experiences */
.item:nth-child(2):before {
  width: 180px;
  height: 0%;
  bottom: 0px;
  transition: height 400ms ease;
}

.item:nth-child(2):hover:before {
  height: 100%;
}
/* certifications */
.item:nth-child(3):before { 
    /* center extend outwards */
  transform: skew(0deg);
}
/* achievements */
.item:nth-child(4):before {
  width: 180px;
  height: 0%;
  top: 0px;
  transition: height 400ms ease;
}

.item:nth-child(4):hover:before {
  height: 100%;
}
/* showcase! */
.item:nth-child(5):before {
  transform: skew(-20deg);
}

/* smaller screens */
@media (max-width: 600px) {
  .item {
    margin: 6px;
    padding: 8px;
  }

  .item a {
    font-size: 14px;
  }
}