.song-card {
    display: flex;
    align-items: center;
    background-color: #5c5552ff;
    border-radius: 15px;
    padding: 15px 20px;
    margin: 20px 0;
    gap: 20px;
}

.song-cover {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    object-fit: cover;
}

.music-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    gap: 5px;
}

.title-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.song-title {
    margin: 0;
    font-size: 1.2rem;
    color: #f7f0f5ff;
}

.song-desc {
    margin: 0;
    font-size: 0.9rem;
    color: #f7f0f5ff;
}

.dot {
    width: 5px;
    height: 5px;
    background: #c7c7d9;
    border-radius: 50%;
}

.buttons {
    display: flex;
    gap: 10px;
}

.play-btn, .pause-btn {
    all: unset;
    cursor: pointer;
    /* font-size: 1.5rem; */
    transition: 0.2s;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 50px;
}

/* SLIDERRRR CUSTOMISATION */
.seek-slider {
  -webkit-appearance: none;
  width: 300px;
  height: 6px;
  border-radius: 5px;
  background: #d1daff;
  outline: none;
  transition: 0.2s;
  width: 100%;
  margin-bottom: 12px;
}

.seek-slider::-webkit-slider-runnable-track {
  height: 6px;
  background: #b4c3ff;
  border-radius: 5px;
}

.seek-slider::-moz-range-track {
  height: 6px;
  background: #b4c3ff;
  border-radius: 5px;
}

.seek-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  background: #6f78ff;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid white;
  transition: 0.15s;
  margin-top: -8px; /* centers thumb with track */
}

.seek-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #6f78ff;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid white;
  transition: 0.15s;
}

.seek-slider:hover::-webkit-slider-thumb {
  transform: scale(1.1);
}

.seek-slider:hover::-moz-range-thumb {
  transform: scale(1.1);
}


