.song-card {
    display: flex;
    align-items: center;
    background-color: #5c5552ff;
    border-radius: 15px;
    padding: 15px 20px;
    margin: 20px 0;
    gap: 20px;
}

.song-cover {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    object-fit: cover;
}

.music-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    gap: 5px;
}

.title-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.song-title {
    margin: 0;
    font-size: 1.2rem;
    color: #f7f0f5ff;
}

.song-desc {
    margin: 0;
    font-size: 0.9rem;
    color: #f7f0f5ff;
}

.dot {
    width: 5px;
    height: 5px;
    background: #c7c7d9;
    border-radius: 50%;
}

.seek-slider {
    width: 100%;
    margin-bottom: 12px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.play-btn, .pause-btn {
    all: unset;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.2s;
    width: 20px;
    height: 20px;
}
