body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
  background-image: url('photos/Background-texture.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  /* background-color: #decbb7ff; */
  text-align: center;
}

body {
  cursor: url('photos/Side-rose-cursor.png'), default;
  /* cursor image must be less than 128x128 */
}

/* Colour pallete:
--lavender-mist: #f7f0f5ff;
--pale-oak: #decbb7ff;
--grey-olive: #8f857dff;
--stone-brown: #5c5552ff;
--deep-mocha: #433633ff; */

/* header?! */
#header {
  margin-top: 70px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  background-color: #8f857dff;
  text-align: center;
  color: #f7f0f5ff;
  border-radius: 10px;
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 5s steps(40, end), /* Typing animation */
    blink-caret .75s step-end infinite; /* Blinking cursor animation */
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

.outside-border {
  color: #f7f0f5ff;
  height: fit-content;
  max-width: 750px;
  background-color: #8f857dff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 20px -5px;
  text-align: left;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
}

.horizontal-text-container {
  color: #f7f0f5ff;
  height: fit-content;
  max-width: 750px;
  background-color: #6f5e53ff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 20px -5px;
  text-align: left;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
}

.title {
  color: #d1daff;
}

.caption {
  color: #c2c2c2;
}

/* contact me... */
#contact-me {
  margin-bottom: 10px;
}

.github-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

.github-link p {
  margin: 0;
}

.github-link:hover img {
  transform: scale(1.05);
  transition: 0.2s ease;
}

.github-link:hover p {
  color: #d1daff;
  transition: 0.2s ease;
}



