body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
  /* background-image: url('photos/Background-texture.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;  */
  background-color: #decbb7ff;
  text-align: center;
}

/* body {
  cursor: url('photos/Side-rose-cursor.png'), default; 
   cursor image must be less than 128x128
} */

/* Colour pallete:
--lavender-mist: #f7f0f5ff;
--pale-oak: #decbb7ff;
--grey-olive: #8f857dff;
--stone-brown: #5c5552ff;
--deep-mocha: #433633ff; */

/* header?! */
#header {
  margin-top: 70px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  background-color: #6f5e53ff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid #d1daff;
  white-space: nowrap;
  max-width: 0;
  letter-spacing: .15em; 
  animation: 
    typing 5s steps(40, end) forwards, /* Typing animation */
    blink-caret .75s step-end 5s; /* Blinking cursor animation */
  animation-fill-mode: forwards;
}

@keyframes typing {
  from { max-width: 0 }
  to { max-width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #d1daff; }
}


.outside-border {
  color: #f7f0f5ff;
  height: fit-content;
  max-width: 750px;
  background-color: #8f857dff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 20px -5px;
  text-align: left;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
}

.horizontal-text-container {
  color: #f7f0f5ff;
  height: fit-content;
  max-width: 750px;
  background-color: #6f5e53ff;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 20px -5px; */
  text-align: left;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
}

.title {
  color: #d1daff;
}

.caption {
  color: #c2c2c2;
}

/* contact me... */
#contact-me {
  margin-bottom: 10px;
}

.github-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

.github-link p {
  margin: 0;
}

.github-link:hover img {
  transform: scale(1.05);
  transition: 0.2s ease;
}

.github-link:hover p {
  color: #d1daff;
  transition: 0.2s ease;
}


/* on smaller screens */
@media (max-width: 600px) {
  #header {
    margin-top: 20px;
    padding: 1rem;
  }

  h1 {
    font-size: 1.4rem;
  }
}
