.disc-container {
    position: relative;
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    border: 2px solid blue;
}

.tech-disc-wrapper {
    position: relative;
    width: 90vw;
    height: 90vh;
    transform: translateY(-40%);
    cursor: pointer;

    border: 2px solid lime;
}

.tech-disc-wrapper:active {
    transform: translateY(-40%) scale(0.98);
}

.tech-disc {
    margin-top: 500px;
    width: 90vw;
    height: 90vh;
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
    pointer-events: none;
}

.project {
    position: absolute;
    width: 200px;
    height: 300px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 50;

    border: 2px solid red;
}

.project img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    object-fit: cover;
}

.project.active {
    opacity: 1;
    pointer-events: auto;
}